<% provide(:title, "Activities") %>
<section style="min-height: 60vh;">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="btn-group btn-group-sm">
					<button type="button" class="btn btn-default">
						<b class="text-muted">All</b>
					</button>
					<button type="button" class="btn btn-default">
						<b class="text-muted">
							<i class="glyphicon glyphicon-list"></i>
							<span class="hidden-xs">Notes</span>
						</b>
					</button>
					<button type="button" class="btn btn-default">
						<b class="text-muted">
							<i class="glyphicon glyphicon-earphone"></i>
							<span class="hidden-xs">Calls</span>
						</b>
					</button>
					<button type="button" class="btn btn-default">
						<b class="text-muted">
							<i class="glyphicon glyphicon-envelope"></i>
							<span class="hidden-xs">E-mails</span>
						</b>
					</button>
					<button type="button" class="btn btn-default">
						<b class="text-muted">
							<i class="glyphicon glyphicon-comment"></i>
							<span class="hidden-xs">Chats</span>
						</b>
					</button>
					<button type="button" class="btn btn-default">
						<b class="text-muted">
							<i class="glyphicon glyphicon-user"></i>
							<span class="hidden-xs">Meetings</span>
						</b>
					</button>
					<button type="button" class="btn btn-default">
						<b class="text-muted">
							<i class="glyphicon glyphicon-credit-card"></i>
							<span class="hidden-xs">Contracts</span>
						</b>
					</button>
					<button type="button" class="btn btn-default">
						<b class="text-muted">
							<i class="glyphicon glyphicon-folder-open"></i>
							<span class="hidden-xs">Documents</span>
						</b>
					</button>
				</div>
				<br>
				<br>
			</div>
			<div class="col-md-4 activity">
				<button class="btn btn-default btn-sm">
					<b class="text-muted">
						<i class="glyphicon glyphicon-user"></i>
						VISIBLE TO COMPANY
					</b>
				</button>
				<button class="btn btn-default btn-sm">
					<b class="text-muted">
						<i class="glyphicon glyphicon-calendar"></i>
						ALL OF TIME
					</b>
				</button>
			</div>
		</div>
		<hr>
		<div>
			<table class="table">
				<thead>
					<tr class="text-muted bg-info">
						<th><small>Type</small></th>
						<th><small>Name</small></th>
						<th><small>Supplier</small></th>
						<th><small>Date</small></th>
						<th><small>Owner</small></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="5">
							There are no activities...
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
