<% provide(:title, "Messages") %>
<section style="min-height: 60vh;">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="well">
					<h5>
						#1 Chat Sacco Pre-qualification
						<small class="pull-right">
							<span class="badge bg-blue">
								<small class="text-white">1 <i class="glyphicon glyphicon-triangle-right"></i></small>
							</span>
						</small>
					</h5>
					<span>
						suverysoftht@gmail.com
						<small class="pull-right">
							Jan, 19, 2018
						</small>
					</span>
				</div>
				<div class="well">
					<h5>
						#2 Chat Sacco Pre-qualification
						<small class="pull-right">
							<span class="badge bg-blue">
								<small class="text-white">1 <i class="glyphicon glyphicon-triangle-right"></i></small>
							</span>
						</small>
					</h5>
					<span>
						suverysoftht@gmail.com
						<small class="pull-right">
							Jan, 20, 2018
						</small>
					</span>
				</div>
			</div>
			<div class="col-md-8">
				<div class="well">
					<div>
						<button class="btn btn-default btn-sm">
							NEW MESSAGE
						</button>
						<button class="btn btn-default btn-sm pull-right">
							OPEN REQUEST DETAILS
						</button>
					</div>
					<hr>
					<h5>Unread conversations</h5>
					suverysoftltd@gmail.com
					<div>
						<button class="btn btn-success btn-xs">
							Reply
						</button>
						<button class="btn btn-info btn-xs">
							Mark as read
						</button>
					</div>
					suveysoftltd@gmail.com<br>
					<b class="text-muted">Posted on 2 hours ago</b><br>
					Where are your offices located
				</div>
			</div>
		</div>
	</div>
</section>