<% provide(:title, "Reports") %>
<section style="min-height: 60vh;">
	<div class="container">
		<h3 class="text-muted">
			Overview of requests
			<span class="pull-right hidden-xs">
				<span class="dropdown">
					<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
						<b class="text-muted">Buyer <span class="caret"></span></b>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Buyer1</a></li>
						<li><a href="#">Buyer2</a></li>
						<li><a href="#">Buyer3</a></li>
					</ul>
				</span>
				<span class="dropdown">
					<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
						<b class="text-muted">
							<i class="glyphicon glyphicon-calendar"></i>
							All of time <span class="caret"></span>
						</b>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Date</a></li>
						<li><a href="#">Month</a></li>
						<li><a href="#">Year</a></li>
					</ul>
				</span>
			</span>
		</h3>
		<hr>
		<span class="text-right hidden-lg hidden-md hidden-sm">
			<span class="dropdown">
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
					<b class="text-muted">Buyer <span class="caret"></span></b>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Buyer1</a></li>
					<li><a href="#">Buyer2</a></li>
					<li><a href="#">Buyer3</a></li>
				</ul>
			</span>
			<span class="dropdown">
				<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
					<b class="text-muted">
						<i class="glyphicon glyphicon-calendar"></i>
						All of time <span class="caret"></span>
					</b>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#">Date</a></li>
					<li><a href="#">Month</a></li>
					<li><a href="#">Year</a></li>
				</ul>
			</span>
		</span>
		<hr class="hidden-sm hidden-md hidden-lg">
		<div class="row">
			<div class="col-xs-5 col-md-2">
				<select class="form-control input-sm">
					<option>Option1</option>
					<option>Option2</option>
					<option>Option3</option>
				</select>
			</div>		
			<div class="col-xs-7 col-md-10">
				<span class="pull-right">
					<button class="btn btn-default btn-sm">Day</button>
					<button class="btn btn-default btn-sm">Week</button>
					<button class="btn btn-default btn-sm">Month</button>
				</span>
			</div>				
		</div>
		<div id="report-chart">				
		</div>
		<div>
			<button class="btn btn-default btn-sm">
				<b class="text-muted">
					<i class="glyphicon glyphicon-stats"></i>
					Breakdown
				</b>					
			</button>
			<button class="btn btn-default btn-sm">
				<b class="text-muted">
					<i class="glyphicon glyphicon-stats"></i>
					Comparisoin
				</b>					
			</button>
		</div>
		<hr>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr class="text-muted bg-info">
						<td>
							<small>Requests by buyers</small>
						</td>
						<td>
							<small>
								Under registeration
								<a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." >
									<i class="glyphicon glyphicon-info-sign"></i>
								</a>
							</small>
						</td>
						<td>
							<small>
								Active
								<a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." >
									<i class="glyphicon glyphicon-info-sign"></i>
								</a>
							</small>
						</td>
						<td>
							<small>
								Bid closed
								<a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." >
									<i class="glyphicon glyphicon-info-sign"></i>
								</a>
							</small>
						</td>
						<td>
							<small>
								Completed
								<a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." >
									<i class="glyphicon glyphicon-info-sign"></i>
								</a>
							</small>
						</td>
						<td>
							<small>Total</small>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Roger Ndungu</td>
						<td><h3 class="text-center">3</h3></td>
						<td>
							<h3 class="text-center">1</h3>
							<span class="text-muted">67%</span>
							<span class="pull-right text-muted">33%</span>
						</td>
						<td></td>
						<td></td>
						<td><h3 class="text-center" >4</h3></td>
					</tr>
					<tr>
						<td>Roger Ndungu</td>
						<td><h3 class="text-center">3</h3></td>
						<td>
							<h3 class="text-center">1</h3>
							<span class="text-muted">67%</span>
							<span class="pull-right text-muted">33%</span>
						</td>
						<td></td>
						<td></td>
						<td><h3 class="text-center" >4</h3></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>