<% provide(:title, "Notification") %>
<section style="min-height: 60vh;">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<%= render 'form', notification: @notification %>
			</div>
			<div class="col-md-4">
				<%= render 'shared/sidebar', notification: true, company: false, new_company: false, user: false %>
			</div>
		</div>
	</div>
</section>

