<% provide(:title, "Reset Password") %>
<section class="big-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<h2 class="text-blue text-center">Forget Your Password?</h2>
				<hr>
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<%= devise_error_messages! %>

				<div class="form-group">
					<%= f.email_field :email, class: 'form-control input-lg', placeholder: 'E-mail address', autofocus: true %>
				</div>

				<div class="form-group">
					<%= f.submit "Reset password", class: "btn btn-info btn-lg btn-block" %>
				</div>
				<br>
				<% end %>
			</div>
		</div>
	</div>
</section>
