<footer>
    <div class="container text-center">
      <%= image_tag 'favicon.png', class: 'footer-logo' %>
      <!-- <p class="text-blue">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
      <div class="footer-navigation">
        <a href="#">About Us</a> | 
        <a href="#">Contact Us</a> | 
        <%= link_to 'Privacy and policy', privacy_policy_path %> |
        <%= link_to 'Terms of use', terms_of_use_path %>
      </div>
      <div class="social-icons">
        <ul>
          <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
        </ul>
      </div>
      <div class="text-muted copyright">Copyright&copy;TendorBooks, All right reserved.</div>     
    </div>
  </footer>