<% provide(:title, 'Compare Bids') %>
<section style="min-height: 60vh;">
	<div class="container">
		<div class="well">
			<h5><span class="text-muted">Request ID:</span> #<%= @request.id %> <small class="pull-right"><i class="glyphicon glyphicon-time"></i> <%= @request.created_at.strftime("%b %d, %Y %H:%M ( %Z%z )") %></small></h5>
			<h5><span class="text-muted">Name:</span> <%= @request.name %></h5>
		</div>

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#comparebid">Compare bids</a></li>
			<li><a data-toggle="tab" href="#comparequestion">Compare questionnaire answers</a></li>
		</ul>

		<div class="tab-content">
			<div id="comparebid" class="tab-pane fade in active">
				<h3>HOME</h3>
				<p>Some content.</p>
			</div>
			<div id="comparequestion" class="tab-pane fade">
				<h3>Menu 1</h3>
				<p>Some content in menu 1.</p>
			</div>
		</div>
	</div>
</section>