<% provide(:title, "Create Requisition") %>
<section style="min-height: 60vh;">
  <div class="container">
	<h3>Create Requisition</h3>
	<hr>
	<%= render 'form', requisition: @requisition %>
	</div>
</section>