<% provide(:title, "Edit Company") %>
<section style="min-height: 60vh;">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<%= render 'form', company: @company %>
			</div>
			<div class="col-md-4">
				<%= render 'shared/sidebar', company: true, new_company: false, notification: false, user: false %>
			</div>
		</div>
	</div>
</section>
<!-- 
<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %> -->
