<% provide(:title, "Vendor Due Diligence") %>
<section style="padding: 200px 0;">
	<div class="container">
		<div class="text-center">
			<h2 class="text-blue">VENDOR DUE DILIGENCE</h2>
			<h3 class="text-muted">Enablement Process & Performance Management</h3>
			<hr>
			<p class="text-muted">
				Our state-of-the-art vendor due diligence solutions let you rest easy knowing your vendors are compliant and properly vetted. You can track time fences in your due diligence processes to optimize and reduce inefficiencies in your supply chain.
			</p>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-3">
				<div>
					<h4><i class="glyphicon glyphicon-refresh"></i> LIFE CYCLE</h4>
					<p class="text-muted">Identify and improve inefficiencies in your due diligence process.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-envelope"></i> INVITATIONS</h4>
					<p class="text-muted">Set up workflows based around invitation types, then monitor the process.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-dashboard"></i> DASHBOARDS</h4>
					<p class="text-muted">Dashboards make it easy for your time to view important information.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="img-modal-wrap">
					<%= image_tag 'solution/due-diligence.png', class: 'img-responsive img-modal' %>
				</div>
			</div>
			<div class="col-sm-3">
				<div>
					<h4><i class="glyphicon glyphicon-user"></i> PERFORMANCE MANAGEMENT</h4>
					<p class="text-muted">Improve your due diligence life cycle, step-by-step.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-inbox"></i> MESSAGING</h4>
					<p class="text-muted">Send and receive messages to and from suppliers during your due diligence period.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-cog"></i> CONFIGURABLE</h4>
					<p class="text-muted">IWe set up our solutions around your existing due diligence life cycle.</p>
				</div>
			</div>
		</div>
		
	</div>
</section>