<% provide(:title, "Home") %>
<section>
	<div class="img-comp-container">
	  <div class="img-comp-img">
	  	<p class="future">Your Future.</p>
	  	<%= image_tag 'home/future.jpg' %>
	  </div>
	  <div class="img-comp-img img-comp-overlay">
	    <%= image_tag 'home/present.jpg' %>
	    <p class="present">Your Present.</p>
	  </div>
	</div>	
</section>