<% provide(:title, "Landing Page") %>

<section id="landing-page">
	<div class="container">
		<div class="text-center">
			<%= image_tag 'logo.png' %>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-6">
				<div class="card text-center">
					<%= link_to '<h1>I am<br>A BUYER<br>!!Let\'s Go!!</h1>'.html_safe, home_path %>					
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card text-center">
					<%= link_to '<h1>I am<br>A SUPPLIER<br>!!Let\'s Go!!</h1>'.html_safe, home_path %>
				</div>
			</div>
		</div>
		
	</div>
</section>