<% provide(:title, "Requisition & Bid") %>
<section style="padding: 200px 0;">
	<div class="container">
		<div class="text-center">
			<h2 class="text-blue">ONLINE REQUISITIONS & BIDDING</h2>
			<h3 class="text-muted">Reduce Procurement Costs & Increase Efficiency</h3>
			<hr>
			<p class="text-muted">
				Our online requisition and bidding solutions are great for small and mid-sized businesses. When suppliers compete for your business, you end up with high-quality goods and services for a fraction of the list price. Create purchase orders from requisition data, run sealed-bid auctions and reverse auctions on a web-based platform.
			</p>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-3">
				<div>
					<h4><i class="glyphicon glyphicon-shopping-cart"></i> REQUISITIONS</h4>
					<p class="text-muted">Online requisition software allows you to easily request new products and services.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-comment"></i> ELECTRONIC BIDS</h4>
					<p class="text-muted">Get the best value from your suppliers through our electronic bidding tool.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-file"></i> PRE-FILLED DATA</h4>
					<p class="text-muted">Requisitions can be pre-populated using your SupplierGATEWAY vendor data.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="img-modal-wrap">
					<%= image_tag 'solution/requisition.png', class: 'img-responsive img-modal' %>
				</div>
			</div>
			<div class="col-sm-3">
				<div>
					<h4><i class="glyphicon glyphicon-wrench"></i> REVERSE AUCTIONS</h4>
					<p class="text-muted">Online requisition software allows you to easily request new products and services.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-eye-close"></i> SEALED BIDS</h4>
					<p class="text-muted">Get the best value from your suppliers through our electronic bidding tool.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-thumbs-up"></i> APPROVAL ROUTING</h4>
					<p class="text-muted">Requisitions can be pre-populated using your SupplierGATEWAY vendor data.</p>
				</div>
			</div>
		</div>
		
	</div>
</section>