<% provide(:title, "Vendor Registeration") %>
<section style="padding: 200px 0;">
	<div class="container">
		<div class="text-center">
			<h2 class="text-blue">VENDOR REGISTRATION SYSTEM</h2>
			<h3 class="text-muted">Self-Service Supplier Registration Solutions</h3>
			<hr>
			<p class="text-muted">
				Leverage a vendor registration system for current and potential suppliers. Having a vendor registration portal makes it easy to collect and maintain accurate supplier data. Collect attachments, tax information, banking information, supplier diversity information, and any other required information from your vendors. Fortune 500 companies trust SupplierGATEWAY with their vendor registration efforts.
			</p>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-3">
				<div>
					<h4><i class="glyphicon glyphicon-user"></i> SELF-SERVICE</h4>
					<p class="text-muted">Suppliers handle the vendor registration process on their own, saving you time and energy.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-home"></i> BRANDED PORTAL</h4>
					<p class="text-muted">Your branded vendor registration portal will emulate the look and feel of your organizations existing web presence.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-info-sign"></i> AUTOMATED REMINDERS</h4>
					<p class="text-muted">Automated alerts and reminders are sent to your suppliers who have not completed their vendor registration process.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="img-modal-wrap">
					<%= image_tag 'solution/vendor-registration.png', class: 'img-responsive img-modal' %>
				</div>
			</div>
			<div class="col-sm-3">
				<div>
					<h4><i class="glyphicon glyphicon-edit"></i> CONFIGURABLE</h4>
					<p class="text-muted">You decide what information your suppliers need to provide during their vendor registration process.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-globe"></i> GLOBAL FLEXIBILITY</h4>
					<p class="text-muted">Vendor registration questions that are based on the location of your supplier.</p>
				</div>
				<hr>
				<div>
					<h4><i class="glyphicon glyphicon-share"></i> INVITE SUPPLIERS</h4>
					<p class="text-muted">Invite your current suppliers to complete their vendor registration and provide accurate supplier master data.</p>
				</div>
			</div>
		</div>
		
	</div>
</section>