<h3>You are contacting us for pricing with following message.</h3>
<h4><%= @contact.subject %></h4>
<hr>
<pre>
	<%= @contact.message %>
</pre>
<hr>
<p>We will review your account and contact you shortly with solution. Thanks for your interesting.</p>
<hr>
<p>
	Headquarters: Western Heights, 11th Floor, Westlands, Nairobi Kenya.<br>
	Phone: 0781-217-326<br>
	Email: team@tenderbooks.com
</p>