<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @request.company.name %></h2>
    <h3>Request #<%= @request.id %> for requisition #<%= @requisition.id %> for <%= @requisition.name %> was created.</h3>
  </body>
</html>