<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @buyer.email %>!</h2>
    <p>Your request - <b><%= @request.name %></b> was successfully created and the invitations have been sent to all the suppliers you invited.</p>
    
  </body>
</html>