<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @buyer.email %>!</h2>
    <p>You sent invite to <%= @buyer.email %> on <b><%= @request.name %></b>.</p>
    
  </body>
</html>