<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @buyer.name %></h2>
    <h3><%= "#{supplier.email} has decided that they will not participate on the request ##{@request.id} - #{@request.name}" %></b>.</h3>
    <p>Busy with current project</p>
  </body>
</html>