<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @colleague[:name] %></h2>
    <h3>You were removed from requisition #<%= @requisition.id %> for <b><%= @requisition.name %></b> by <%= @requisition.contact_name %></h3>
    Thanks for your interesting...
  </body>
</html>