// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.request-perm:first-letter{
    text-transform: uppercase;
}

#add-participant{
    cursor: pointer;
}
.table i.glyphicon-trash{
    cursor: pointer;
    &:hover{
        color: #a94442;
    }
}
#question-options-div{
    display: none;
    i.glyphicon-remove{
        cursor: pointer;
        &:hover{
            color: #a94442;
        }
    }
    .input-group{
        margin: 4px 0;
    }
}

#request-details{
	.well{
		margin-top: 20px;
	}
	
	div.row{
		margin: 10px 0;
	}
}
.answer-cell{
    padding: 25px 0 !important;
    padding-left: 30px;
    textarea{
        width: 80%;
        margin-bottom: 10px;
    }
}
.bg-muted{
    background-color: #ececec;
}