// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/*----- common styles ------*/
.text-blue{
	color: #55A79A;
}
.bg-blue{
	background-color: #55A79A;
	color: #fff;
}
.btn-info{
	background-color: #55A79A;
	&:hover{
		background-color: #55A79A;
	}
}
.bg-gray{
	background-color: #f8f8f8;
}
.text-white{
	color: #fff;
}
.dropdown-menu{
	transition: all .5s ease;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
.alert{
	li{
		margin-left: 20px;
	}
}

.icon-5x {
    font-size: 5em!important;
}

.card{
	margin-top: 30px;
	text-align: center;
	box-shadow: 1px 1px 6px #dee2e6;
	border-radius: .25rem !important;
	border: 1px solid rgba(0,0,0,.125);
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
	.price-digit{
		border: 1px solid transparent;
    	border-color: #e9ecef!important;
		padding: 20px 0;
		small{
			color: #fff;
		}
	}
	.card-ribbon{
		width: 200px;
	    padding: 2px 5px;
	    position: absolute;
	    text-align: center;
	    font-size: 12px;
	    z-index: 1;
	}
	.card-ribbon-left {
	    left: -70px;
	}
	.card-ribbon-top {
	    top: 20px;
	}
	.card-ribbon-right {
	    right: -70px;
	}
	.card-ribbon-bottom.card-ribbon-right, .card-ribbon-top.card-ribbon-left {
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	.card-ribbon-bottom.card-ribbon-left, .card-ribbon-top.card-ribbon-right {
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
}

.card.active{
	border-color: #55A79A;
	padding: 20px 0 30px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    li{
    	list-style: none;
    	margin-left: 0;
    }
    a.close{
    	line-height: .5;
    }
 }

/*----- navbar ------*/
.navbar.navbar-default{
	padding: 10px;
	&.navbar-fixed-top{
		background-color: transparent;
		border-color: transparent;
		transition: all ease .7s;
	}
}
.navbar .nav > li > a,
.navbar .nav > li > ul > li > a{
	color: #55A79A;
	transition: all .7s ease;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > ul > li > a:hover{
	color: gray;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
}
.navbar-brand{
	padding: 0 20px;
	transition: all ease .7s;
	img{
		width: 200px;	
	}
	small{
		color: #04A1DE;
		margin-top: -10px;
		display: block;
		margin-right: 7px;
		text-align: right;
		font-size: 12px;
	}
}
.navbar-brand:hover{
	transform: scale(1.1);
}
html, body{
	overflow-x: hidden;	
}
p{
	letter-spacing: 1px;
}

/*-----footer----*/
footer{
	padding: 30px 0;
	background-color: #ececec;
	overflow: hidden;
	&.skew{
		background-color: #e1f6f5;    
    	background: -webkit-gradient(linear, left top, left bottom, from(#e1f6f5), to(#FDFEF6));
	    background: -webkit-linear-gradient(top, #e1f6f5, #FDFEF6);
	    background: -moz-linear-gradient(top, #e1f6f5, #FDFEF6);
	    background: -ms-linear-gradient(top, #e1f6f5, #FDFEF6);
	    background: -o-linear-gradient(top, #e1f6f5, #FDFEF6);
	}
}
footer *{
	margin: 10px 0;
}
.footer-logo{
	width: 90px;
	transition: all 1s ease;
	cursor: pointer;
	&:hover{
		transform: scale(1.3)rotate(270deg);
	}
}
.footer-navigation > a{
	padding: 0 10px;
}
.social-icons ul {
    list-style: none;
    display: inline-flex;
    margin-left: -40px;
}
.social-icons ul li a {
	background-color: rgba(0,0,0, .3);
    border-radius: 4px;
    line-height: 33px;
    color: #fff;
    height: 36px;
    width: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
    margin: 5px;
    transition: all .5s ease;
}
.social-icons ul li a:hover{
	transform: scale(1.15);
}
.social-icons ul li a.envelope:hover {
    background-color: #CECB26;
}
.social-icons ul li a.twitter:hover {
    background-color: #2ac6f7;
}
.social-icons ul li a.dribbble:hover {
    background-color: #ff5b92;
}
.social-icons ul li a.facebook:hover {
    background-color: #3b5999;
}
.social-icons ul li a.linkedin:hover {
    background-color: #036dc0;
}
.social-icons ul li a.tumblr:hover {
    background-color: #ff6b00;
}
.copyright{
	letter-spacing: .8px;
}


// homepage

.img-comp-container {
  position: relative;
  height: 120vh;
  overflow: hidden;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  width: 100vw;
}

.img-comp-img p{
	position: absolute;
    top: 45%;
    font-size: 45px;
    &.present{
    	left: 25vw;
    	min-width: 450px;
    }
    &.future{
    	right: 25vw;
    }    
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}
section#pros-section,
section#contacts-vendors,
section#supplier-setion,
section#tenderbooks-you,
section#counter-section
{
	padding: 200px 0;
	background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    h2{
    	font-size: 40px;
    }
    h3{
    	font-size: 18px;
    	line-height: 1.5;
    }
    ul{
    	list-style: none;
    	display: flex;
    	flex-wrap: wrap;
    	li{
    		margin: 10px;    		
    	}
    }
}

img.svg-img{
	height: 50px;
}

.btn-transparent{
	background: transparent;
    border: 1px solid white;
    color: white;
}

.skew {
    margin-top: -1px;
    margin-bottom: -1px;
    background: #FFFFFF;
    position: relative;
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);
    overflow: hidden;
    -webkit-transform-origin: 0;
    transform-origin: 0;
    div.container, div.carousel{
    	-webkit-transform: skewY(7deg);
    	transform: skewY(7deg);
    }
}

.icon-button {
    background: #FFFFFF;
    text-align: center;
    display: inline-block;
    width: 130px;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 30px rgba(0,0,0,0.1);
    box-shadow: 0 3px 30px rgba(0,0,0,0.1);
    text-decoration: none;
    &:hover{
    	text-decoration: none;
    }
    &.icon-blue{
    	.icon-button_label {
		    background: #45b9e6;
		}
    }
    &.icon-purple{
    	.icon-button_label{
    		background: #673490;
    	}
    }
    .icon-button_icon{
    	padding: 30px;
	    display: block;
	    position: relative;
	    z-index: 1;
    }
    .icon-button_label {
	    color: #FFFFFF;
	    padding: 7px 0;
	    display: block;
	    position: relative;
	    z-index: 1;
	}

}

#pros-section{
	background-image: url('home/pros.png');
}

#contacts-vendors{
	background-image: url('home/contacts-vendors.png');
}

#supplier-setion{
	background-image: url('home/supper-selection.jpg');
}

#testimonial-section{
	padding: 0;
	letter-spacing: 1px;
	div.carousel{
		margin: -110px 0;
	}
	.carousel-indicators{
		bottom: 30%;
		li{
			border-color: #55D0A5;
			&.active{
				background-color: #55D0A5;
			}
		}
	}
	.carousel-caption{
		text-align: left;
		right: 5% !important;
	    left: initial;
	    bottom: 40%;
	    color: #000;
	    text-shadow: none;
	    padding: 30px;
	    background: #fff;
	    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.06);
	}
}
#counter-section{
	ul{
		li{
			flex-basis: 25%;
		    max-width: 23%;
		    padding: 30px 15px;
		    img{
		    	max-width: 100%;
		    	display: block;
			    width: auto;
			    margin: 0 auto;
			    height: 65px;
			    margin-bottom: 15px;
		    }
		}
	}
}

#tenderbooks-you{
	background-image: url('home/bonfire-you.jpg');
	h2, h3{
		color: #fff;
	}
}

// responsive

@media only screen and (max-width: 768px){
	.nav-tabs>li{
		width: 80%;
		margin-bottom: 10px;
	}
	.nav-tabs>li.pull-right{
		float: left !important;
	}
	.nav-tabs>li.pull-right button{
		margin-top: 5px;
	}
}