// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/*----- common styles ------*/
.text-blue{
	color: #55A79A;
}
.bg-blue{
	background-color: #55A79A;
	color: #fff;
}
.btn-info{
	background-color: #55A79A;
	&:hover{
		background-color: #55A79A;
	}
}
.bg-gray{
	background-color: #f8f8f8;
}
.text-white{
	color: #fff;
}
.dropdown-menu{
	transition: all .5s ease;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
.alert{
	li{
		margin-left: 20px;
	}
}

.icon-5x {
    font-size: 5em!important;
}

.card{
	margin-top: 30px;
	text-align: center;
	box-shadow: 1px 1px 6px #dee2e6;
	border-radius: .25rem !important;
	border: 1px solid rgba(0,0,0,.125);
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
	.price-digit{
		border: 1px solid transparent;
    	border-color: #e9ecef!important;
		padding: 20px 0;
		small{
			color: #fff;
		}
	}
	.card-ribbon{
		width: 200px;
	    padding: 2px 5px;
	    position: absolute;
	    text-align: center;
	    font-size: 12px;
	    z-index: 1;
	}
	.card-ribbon-left {
	    left: -70px;
	}
	.card-ribbon-top {
	    top: 20px;
	}
	.card-ribbon-right {
	    right: -70px;
	}
	.card-ribbon-bottom.card-ribbon-right, .card-ribbon-top.card-ribbon-left {
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	.card-ribbon-bottom.card-ribbon-left, .card-ribbon-top.card-ribbon-right {
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
}

.card.active{
	border-color: #55A79A;
	padding: 20px 0 30px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    li{
    	list-style: none;
    	margin-left: 0;
    }
    a.close{
    	line-height: .5;
    }
 }

/*----- navbar ------*/
.navbar.navbar-default{
	padding: 10px;
}
.navbar .nav > li > a,
.navbar .nav > li > ul > li > a{
	color: #55A79A;
	transition: all .7s ease;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > ul > li > a:hover{
	color: gray;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
}
.navbar-brand{
	padding: 0 20px;
}
.navbar-brand img{
	width: 200px;
	transition: all ease .7s;
}
.navbar-brand img:hover{
	transform: scale(1.1);
}

/*----- Home page -----*/
html, body{
	overflow-x: hidden;	
}
p{
	letter-spacing: 1px;
}
.home-banner h1{
	margin-top: 50px;
}
.home-banner p{
	margin: 20px 0;
	overflow: hidden;
}
.carousel-inner>.item>a>img, 
.carousel-inner>.item>img{
	margin-right: auto;
	margin-left: auto;
}
.home-companies{
	padding: 40px 0 20px;
	background: #fff;
}
.home-section{
	padding: 100px 0;
}
#home-last-section{
	text-align: center;
	img.img-responsive{
		max-width: 70%;
		margin: 20px auto;
	}
}
.home-bar{
	padding: 30px 0;
}
.home-bar button{
	border: none;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 30px;
	transition: all .7s ease;
}
.home-bar button:hover{
	background-color: rgba(255, 255, 255, .2);
	color: #fff; 
}


/*-----footer----*/
footer{
	padding: 30px 0;
	background-color: #ececec;
}
footer *{
	margin: 10px 0;
}
.footer-logo{
	width: 90px;
	transition: all 1s ease;
	cursor: pointer;
	&:hover{
		transform: scale(1.3)rotate(270deg);
	}
}
.footer-navigation > a{
	padding: 0 10px;
}
.social-icons ul {
    list-style: none;
    display: inline-flex;
    margin-left: -40px;
}
.social-icons ul li a {
	background-color: rgba(0,0,0, .3);
    border-radius: 4px;
    line-height: 33px;
    color: #fff;
    height: 36px;
    width: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
    margin: 5px;
    transition: all .5s ease;
}
.social-icons ul li a:hover{
	transform: scale(1.15);
}
.social-icons ul li a.envelope:hover {
    background-color: #CECB26;
}
.social-icons ul li a.twitter:hover {
    background-color: #2ac6f7;
}
.social-icons ul li a.dribbble:hover {
    background-color: #ff5b92;
}
.social-icons ul li a.facebook:hover {
    background-color: #3b5999;
}
.social-icons ul li a.linkedin:hover {
    background-color: #036dc0;
}
.social-icons ul li a.tumblr:hover {
    background-color: #ff6b00;
}
.copyright{
	letter-spacing: .8px;
}


// ----- Landing page

#landing-page{
	background: url(asset_path('home/landing_page.jpg')) no-repeat center;
	background-color: #000;
	background-size: cover;
	div.container{
		padding: calc(50vh - 350px) 20px calc(50vh - 200px);
		div.row{
			background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .5), rgba(0, 0, 0, .7));
		}
		.card{
			background: url(asset_path('home/card.jpg')) no-repeat center;
			background-size: cover;
			margin: 40px;
			padding: 100px 0;
			a{
				text-decoration: none;
			}
			h1{
				line-height: 1.5;
				font-family: Dancing Script;
				font-weight: 600;
				color: #fff;
				text-shadow: 0 0 2px white;
				transition: all .5s ease-in;
			}			
			h1:hover{
				transform: scale(1.1);
			}
		}
	}
}


/*------responsive------*/
@media only screen and ( min-width:600px) and ( max-width:767px ){
	.testimonial-heading h1{
		background:none;
	}

	.testimonial-heading h1 {
	    padding: 0px 80px;
	    font-size: 34px;
	}

	.new-slides li p {
	    margin: 0;
	    padding: 70px 10px 120px;
	    background-position: top center, bottom center;
	}
}



@media only screen and ( min-width:768px) and ( max-width:960px ){
	.flexslider1 .flex-control-thumbs img {
	    width: 65px !important;
	    height: 65px !important;
	}
}

@media only screen and ( min-width: 320px) and ( max-width: 599px ){
	.flex-control-nav{
		display:none;
	}
	
	.testimonial-heading h1{
		font-size:29px;
		background:none;
	}

	.new-slides li p {
	    margin: 0px 0px;
	    padding: 70px 10px 120px;
	    font-size: 16px;
	    line-height: 28px;
	    background-position: top center, bottom center;
	}
}

@media only screen and (max-width: 768px){
	.nav-tabs>li{
		width: 80%;
		margin-bottom: 10px;
	}
	.nav-tabs>li.pull-right{
		float: left !important;
	}
	.nav-tabs>li.pull-right button{
		margin-top: 5px;
	}

	#landing-page{
		div.container{
			padding: 10vh 0;
			.card{
				padding: 50px 0;
			}
		}
	}
}